<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="http://localhost:1151/"/> <!-- What site do you want to crawl? -->
    <add key="authority" value="localhost"/> <!-- The authority is the server dns hostname or ip address. -->
    <add key="logTextFileName" value="E:\Dev\Crawler\Report.htm"/> <!-- Point this to some location that exists on your machine -->
  </appSettings>
</configuration>