<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="url" value="http://www.rose-hulman.edu"/> <!-- What site do you want to crawl? -->
    <add key="authority" value="rose-hulman.edu"/> <!-- The authority is the server dns hostname or ip address. -->
    <add key="logTextFileName" value="C:\Users\eatonmi\My Documents\Courses\CSSE371\crawlerRepo\crawlerOutput.htm"/> <!-- Point this to some location that exists on your machine -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
